@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>POLÍTICA DE PRIVACIDADE - SALA SOLUTIONS RECUPERACAO DE CREDITO E SERVICOS DIGITAIS LTDA</h1>

<a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="TermosDeUso">Termos de Uso</a>

<br>

<h4>ProBlock</h4>

<p>Esta Política de Privacidade ("Política") tem como objetivo informar o tratamento e uso de informações pessoais 
    realizados pela Sala Solutions Recuperacao de Credito e Servicos Digitais LTDA, inscrita no CNPJ 29.281.317/0001-25, 
    com sede na Alameda Professor Lucas Nogueira Garcez, 1239, Cidade Satelite, Atibaia - SP, CEP 12941-650, em conformidade 
    com a Lei Geral de Proteção de Dados (LGPD).
</p>

<br>

<h5>1. DEFINIÇÕES</h5>

<p>
    1.1.  Para fins desta Política, consideram-se as seguintes definições:
    <br><br>
    - Dados pessoais: informações relacionadas a uma pessoa identificada ou identificável.
    <br>
    - Tratamento de dados pessoais: qualquer operação realizada com dados pessoais, como coleta, armazenamento,
    uso, transferência, entre outras.
    <br>
    - Consentimento: manifestação livre, informada e inequívoca pela qual o titular concorda com o tratamento de seus 
    dados pessoais para uma finalidade determinada.
    <br>
    - Controlador: entidade que determina as finalidades e meios de tratamento de dados pessoais.
    <br><br>
</p>

<h5>2. COLETA E USO DE DADOS PESSOAIS</h5>

<p>
    2.1.  A Sala Solutions coleta dados pessoais dos usuários de forma ética e transparente, 
    para finalidades específicas, como 
    a prestação de serviços de recuperação de créditos e serviços digitais.
</p>

<p>
    2.2.  Os dados pessoais coletados podem incluir, mas não estão limitados a:
    <br><br>
    - Nome completo;
    <br>
    - Endereço;
    <br>
    - Número de telefone;
    <br>
    - Endereço de e-mail;
    <br>
    - Informações financeiras;
    <br>
    - Documentos de identificação pessoal.
    <br>
</p>

<p>
    2.3. Os dados pessoais são coletados mediante o consentimento do titular, 
    que pode ser obtido por meio de formulários online, 
    contato telefônico, e-mails ou outros meios de comunicação.
</p>

<p>
    2.4. Os dados pessoais serão utilizados para as finalidades informadas ao titular no momento da coleta, 
    respeitando os princípios da finalidade, adequação e necessidade.
    <br><br>
</p>

<h5>
    3. COMPARTILHAMENTO DE DADOS PESSOAIS
</h5>
<p>
    3.1. A Sala Solutions poderá compartilhar os dados pessoais coletados com terceiros, 
    como instituições financeiras, com o objetivo de cumprir as finalidades do tratamento.
</p>

<p>
    3.2. Os terceiros com os quais os dados pessoais são compartilhados também estão sujeitos a obrigações de privacidade e 
    segurança compatíveis com esta Política.
    <br><br>
</p>

<h5>
    4. SEGURANÇA DOS DADOS PESSOAIS
</h5>

<br>

<p>
    4.1. A Sala Solutions adota medidas de segurança adequadas para proteger os dados pessoais contra acessos não autorizados, 
    perdas, destruição, alteração e divulgação indevida.
</p>

<p>
    4.2. As medidas de segurança incluem o uso de criptografia, controle de acesso, políticas de senhas seguras e treinamento 
    dos colaboradores.
    <br><br>
</p>

<h5>5. DIREITOS DO TITULAR DOS DADOS</h5>
<br>
<p>
    5.1. O titular dos dados possui os direitos previstos na LGPD, tais como o direito de confirmação da existência do tratamento, acesso aos dados, correção de dados incompletos ou desatualizados, anonimização, bloqueio ou eliminação de dados desnecessários ou excessivos, entre outros, 
    observando-se, contudo, eventual direito e obrigação oriundo de relação contratual em primazia àqueles.
</p>

<p>
    5.2. O titular pode exercer, se o caso, seus direitos por meio de solicitação formal enviada à Sala Solutions 
    por meio dos contatos fornecidos no item 8 desta Política.
    <br>
</p>

<h5>6. RETENÇÃO DOS DADOS PESSOAIS</h5>
<br>
<p>
    6.1. Os dados pessoais serão armazenados pelo período necessário para atingir as finalidades 
    para as quais foram coletados, respeitando as obrigações legais e contratuais de retenção.
    <br>
 </p>

<h5>7. ALTERAÇÕES NESTA POLÍTICA</h5>
<br>
<p>
    7.1. A Sala Solutions se reserva o direito de alterar esta Política de Privacidade a qualquer momento, 
    sendo de responsabilidade do usuário a revisão periódica da versão atualizada.
</p>

<h5>8. CONTATO</h5>
<br>

<p>
    8.1. Para quaisquer dúvidas, sugestões ou solicitações relacionadas a esta Política de Privacidade, 
    entre em contato com a Sala Solutions por meio dos seguintes canais:
    <br><br>
    - E-mail: atendimentoexclusivo@salasolutions.com.br
    <br>
    - Telefone: (11) 3402 4100
    <br><br>
    Atibaia, 09 de Novembro de 2023.
</p>



